$primary-color : #FAA307;
$secondary-color : #1F1E1D;

form {
display: flex;
flex-direction: column;

 & .group {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 10px;

   & label {
     font-size: 20px;

   }

   & input {
     margin: 0 auto;
     width: 75%;
     height: 35px;

   }
 }

 & .submit-SignIn{
   background-color: $primary-color;
   border: $primary-color;
   border-radius: 15px;
   font-weight: bold;
   width: 60%;
   align-self: center;
   margin-top: 10px;
 }
}
